<div>
  <div class="header-container">
    <h1>
      {{#watch}}
        <span>{{ header.title }}</span>
        <small>{{ header.description }}</small>
      {{/watch}}
    </h1>

    <label>
      Title:
      <input
        type="text"
        value="{{ header.title }}"
        {{ on input="updateTitle" }}
      />
    </label>

    <label>
      Description:
      <input
        type="text"
        value="{{ header.description }}"
        {{ on input="updateDescription" }}
      />
    </label>
  </div>

  <ul class="simple">
    {{#watch "todos.length" }}
      {{#each todos as |todo| }}
        {{#watch (concat "todos." @index "(.*)") tag="li" }}
          <div class="todo">
            <label>
              <input
                type="checkbox"
                {{ on @index click="toggleDone" }}
                {{ isChecked }}
              />

              {{ @index }}
              {{#if done }}
                <s>{{ name }}</s>
              {{else}}
                <strong>{{ name }}</strong>
              {{/if}}
            </label>

            <div class="actions">
              <button {{ on @index click="deleteTodo" }}>
                delete
              </button>
            </div>
          </div>
        {{/watch}}
      {{/each}}
    {{/watch}}
  </ul>

  {{#watch}}
    {{#if adding }}
      <form>
        <input type="text" {{ ref "newName" }} placeholder="the new todo" />
        <button {{ on click="addItem" }}>Add todo</button>
        <button {{ on click="toggleCreate" }}>Cancel</button>
      </form>
    {{else}}
      <button {{ on click="toggleCreate" }}>Add another</button>
    {{/if}}
  {{/watch}}
</div>
