<div>
  <div class="header-container">
    <h1>
      {{#watch}}
        <span>{{ header.title }}</span>
        <small>{{ header.description }}</small>
      {{/watch}}
    </h1>

    <label>
      Title:
      <input
        type="text"
        value="{{ header.title }}"
        {{ on input="updateTitle" }}
      />
    </label>

    <label>
      Description:
      <input
        type="text"
        value="{{ header.description }}"
        {{ on input="updateDescription" }}
      />
    </label>
  </div>

  {{#watch tag="ul" class="simple" }}
    {{#each todos as |todo| }}
      <li {{ ref id }}>
        <div class="todo">
          <label>
            {{#if done }}
              <input type="checkbox" {{ on click="toggleDone" }} checked="checked" />
              <s>{{ name }}</s>
            {{else}}
              <input type="checkbox" {{ on click="toggleDone" }} />
              <strong>{{ name }}</strong>
            {{/if}}
          </label>

          <div class="actions">
            <button {{ on click="deleteTodo" }}>delete</button>
          </div>
        </div>
      </li>
    {{/each}}
  {{/watch}}

  {{#watch}}
    {{#if adding }}
      <form>
        <input type="text" {{ ref "newName" }} placeholder="the new todo" />
        <button {{ on click="addItem" }}>Add todo</button>
        <button {{ on click="toggleCreate" }}>Cancel</button>
      </form>
    {{else}}
      <button {{ on click="toggleCreate" }}>Add another</button>
    {{/if}}
  {{/watch}}
</div>
