<div class="addBar">
  {{#watch "isAdding" "newName" }}
    {{#if isAdding }}
      <input type="text"
        {{ ref "newName" }} value="{{ newName }}"
        {{ bind input="newName" }} placeholder="the new todo" />

      <button {{ on click="addItem" }}>Add todo</button>
      <button {{ on click="toggleAdd" }}>Cancel</button>
    {{ else }}
      <button {{ on click="toggleAdd" }}>Add another</button>
    {{/if}}
  {{/watch}}
</div>
