<div>
  {{#watch}}
    {{#if isAdding }}
      <form>
        <input type="text" {{ ref "newName" }} placeholder="the new todo" >
        <button {{ on click="addItem" }}>Add todo</button>
        <button {{ on click="toggleAdd" }}>Cancel</button>
      </form>
    {{ else }}
      <button {{ on click="toggleAdd" }}>Add another</button>
    {{/if}}
  {{/watch}}
</div>
