<div class="header-container">
  {{#watch tag="h1" }}
    <span>{{ header.title }}</span>
    <small>{{ header.description }}</small>
  {{/watch}}

  <label>
    Title:
    <input type="text" value="{{ header.title }}" {{ on input="updateTitle" }} />
  </label>

  <label>
    Description:
    <input type="text" value="{{ header.description }}" {{ on input="updateDescription" }} />
  </label>
</div>

{{> Filters }}

{{#watch "todos" tag="ul"}}
  {{#each todos as | todo | }}
    {{#if todo.display }}
      {{> Todo todo=todo }}
    {{/if}}
  {{/each}}
{{/watch}}

{{> Add }}
