<div class="filters">
  <div>
    {{#watch "filters.filterBy" }}
      <button {{ disabledIf "completed" }} {{ on "completed" click="filterBy" }}>Show Only Completed</button>
      <button {{ disabledIf "incomplete" }} {{ on "incomplete"  click="filterBy" }}>Show Only Incompleted</button>
      <button {{ disabledIf null }} {{ on null click="filterBy"  }}>Show All</button>
    {{/watch}}
  </div>

  <div>
    <select {{ on change="sortBy" }}>
      <option {{ selectedSort "name" }} value="name">Sort by Name</option>
      <option {{ selectedSort "updated" }} value="updated">Sort by Updated at</option>
    </select>
  </div>
</div>
