<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ReBars Docs</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.5.3/handlebars.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/prism.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/components/prism-markup-templating.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/components/prism-handlebars.min.js"></script>
    <link rel="stylesheet" href="dist/docs.min.css">
  </head>

  <body>
    <main>
      <nav id="nav-container">
        <div class="logo">ReBars</div>

        <ul class="side-bar-nav">
          {{#each nav.pages as |page| }}
            <li>
              <a href="{{ page.path }}">{{ page.label }}</a>
                {{#if page.pages }}
                  <ul>
                    {{#each page.pages as |subPage| }}
                      <li>
                        <a href="{{ subPage.path }}">{{ subPage.label }}</a>
                      </li>
                    {{/each}}
                  </ul>
                {{/if}}
            </li>
          {{/each}}
        </ul>
      </nav>

      <section>
        <article class="content">
          {{#each content as | page | }}
            <article class="page main" data-anchor="{{ page.path }}">
              {{{ markdown page.markdown }}}
              {{#each page.pages as | subPage | }}
                <article class="page sub" data-anchor="{{ subPage.path }}">
                  {{{ markdown subPage.markdown }}}
                </article>
              {{/each}}
            </article>
          {{/each}}
        </article>
      </section>
    </main>

    <script src="dist/docs.min.js"></script>

  </body>
</html>
